.dry-inner-wrapper {
    background-image: url('../assets/images/drybanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 927px;
    position: relative;

    @media(max-width: 1199px) {
        min-height: 720px;
    }

    @media(max-width: 991px) {
        min-height: 550px;
    }

    @media(max-width: 767px) {
        min-height: 490px;
    }

    .bottom-wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";

        h1 {
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 4px;
            padding-left: 50px;
            font-family: burford;
            word-break: break-word;
            
            font-size: 72px;
            margin-bottom: -26px;
            @media(max-width: 1399px){
                font-size: 50px;
                margin-bottom: -19px;
            }

            @media(max-width: 1199px) {
                padding-left: 40px;
                font-size: 42px;
                margin-bottom: -15px;
            }

            @media(max-width: 991px) {
                padding-left: 15px;
            }
        }

        .bottom-inner-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media(max-width: 767px) {
                flex-direction: column;
            }

            .bottom-left {
                width: 65%;
                background-color: rgba(0, 0, 0, 0.5);

                @media(max-width: 767px) {
                    width: 100%;
                }

                p {
                    font-size: 16px;
                    color: #fffffe;
                    line-height: 28px;
                    font-weight: 300;
                    margin-bottom: 0;
                    padding: 40px 55px 60px 50px;

                    @media(max-width: 1199px) {
                        padding: 20px 20px 30px 40px;
                    }

                    @media(max-width: 991px) {
                        font-size: 14px;
                        line-height: 22px;
                        padding: 15px 15px 20px 15px;
                    }
                }
            }

            .bottom-right {
                position: relative;
                width: 35%;
                background-color: rgba(184, 128, 97, 0.8);

                @media(max-width: 767px) {
                    width: 100%;
                    padding: 70px 0;
                }

                a {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    content: "";
                    transform: translate(-50%, -50%);
                   
                    transition: 0.2s ease-in-out;
                   

                 

                    &:hover {
                        margin-top: -2px;
                        color: #fffffe;
                    }
                }
            }
        }
    }
}

.dry-process-title{
    max-width: 365px;
    @media(max-width: 417px){
        max-width: 186px;
    }
}

.dry-range-title{
    padding-top: 50px;
    font-size: 36px;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    max-width: 572px;
    padding-bottom: 12px;
    font-family: burford;
    font-weight: bold;
    @media(max-width: 767px){
        max-width: 322px;
    }
    @media(max-width: 380px){
        max-width: 245px;
    }

    &::before {
        position: absolute;
        width: 88%;
        height: 4px;
        background-color: #c32629;
        content: "";
        left: 0;
        bottom: 0;
    }

    &::after {
        position: absolute;
        width: 10%;
        height: 4px;
        background-color: #ffd409;
        content: "";
        right: 0;
        bottom: 0;
    }
}