html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  background: #ffffff;
  overflow-x: hidden !important;
  font-family: $font;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1;

  position: relative;

  &::before {
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 0;
    height: 100vh;
    top: 0;
    width: 100vw;
    content: "";
    z-index: -1;
  }
}

// Mobile Menu 

#sidebar {
  transition: 0.3s linear;
  overflow-y: scroll;
  background-color: #3c2827;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: -250px;
  top: 0;
  z-index: 999;
  box-shadow: inset -3px 0 5px -3px rgb(60 40 39 / 40%);

  .mobile-logo {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;

    a {
      img {
        max-width: 170px;
      }
    }
  }

  .mobilemenulink {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        padding: 7px 0;

        &:last-child {
          border-bottom: 0px solid transparent;
        }

        a {
          padding-left: 15px;
          text-decoration: none;
          color: #fff;
          display: block;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 500;
        }

        .mobileactive {
          color: #e18501;
        }
      }
    }
  }

  .mobile-address {
    padding-left: 15px;
    margin-top: 35px;

    a {
      display: block;
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      margin-bottom: 5px;

      i {
        margin-right: 5px;
        color: #fff;
      }
    }
  }
}

// #sidebar.mactive{
//   margin-left: -250px;
// }
// Mobile Menu 

// Mobile Navigation 
.mobilenavigation {

  display: none;

  @media(max-width: 991px) {
    display: block;
  }

  .mobile-navigation-position {
    position: relative;

    @media(max-width: 991px) {
      width: 720px;
    }

    .mobilenavigation-wrapper {
      box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 30%);
      background-color: #3b2726;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      position: relative;

      .mnavigation-left {
        a {
          img {
            max-width: 120px;
          }
        }
      }

      .mnavigation-right {
        .search-menu-icon {
          display: flex;
          flex-direction: row;
          justify-content: right;

          .search-icon {
            i {
              cursor: pointer;
              color: #fff;
              font-size: 24px;
            }
          }

          .menu-icon {
            margin-left: 15px;

            i {
              cursor: pointer;
              color: #fff;
              font-size: 24px;
              transition: rotate 0.2s ease-in-out;
            }

            // .burgur{}

            .cross {
              display: none;
            }
          }

        }

        .searchbar {
          visibility: hidden;
          opacity: 0;
          transition: 0.3s linear;
          position: absolute;
          right: 15px;
          bottom: 0;
          z-index: 99;
          @media(max-width: 375px){
            right: 0;
          }

          form {
            .searchbar-inner-wrapper {
              display: flex;
              flex-direction: row;
              box-shadow: 1px 0px 20px -5px rgb(0 0 0 / 75%);
              -webkit-box-shadow: 1px 0px 20px -5px rgb(0 0 0 / 75%);
              -moz-box-shadow: 1px 0px 20px -5px rgba(0, 0, 0, 0.75);

              input {
                border: none;
                box-shadow: none;
                padding: 7px 12px;
                width: 300px;
                height: 40px;

                @media(max-width: 414px) {
                  width: 250px;
                }
                @media(max-width: 375px) {
                  width: calc(100vw - 73px);
                }

                &:focus {
                  border: none;
                  border-radius: none;
                  box-shadow: none;
                  outline: none;
                }
              }

              .search-btn {
                .search-submitbtn {
                  border: none;
                  box-shadow: none;
                  padding: 8px 17px;
                  background-color: #32160a;
                  color: #ffffff;
                }
              }
            }
          }
        }

        .searchtoogle {
          bottom: 40px;
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .mobileposition {
      position: fixed;
      left: 50%;
      top: 0;
      width: 696px;
      z-index: 33;
      transform: translateX(-50%);

      @media(max-width: 767px) {
        width: 516px;
      }

      @media(max-width: 575px) {
        width: calc(100% - 23.5px);
      }
    }
  }

}

// Mobile Navigation 

// Scroll Navigatio 
.scroll-navigation-bar {
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;

  @media(max-width: 991px) {
    display: none !important;
  }

  .scroll-navigation-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3c2827;
    transition: background-color 0.4s linear;
    padding: 8px 5px;

    .scroll-left {
      @media(max-width: 1199px) {
        width: 120px;
      }

      a {
        img {
          width: 50%;

          @media(max-width: 1199px) {
            width: 100%;
          }
        }
      }
    }

    .scroll-right {
      .navigation-section-inner {
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: #3c2827;

          li {
            list-style: none;
            padding: 5px 15px;
            background-color: #3c2827;
            transition: all 0.3s ease-in-out;
            border-bottom: 3px solid transparent;

            @media(max-width: 1399px) {
              padding: 5px 7px;
            }

            &:hover {
              border-color: #e18501;
            }

            a {
              text-decoration: none;
              text-align: center;
              text-transform: uppercase;
              font-size: 15px;
              color: #ffffff;
              font-weight: 500;

              @media(max-width: 1199px) {
                font-size: 14px;
              }


            }
          }

          // .scrollnavactive{
          //   border-bottom: 3px solid #e18501;
          // }
        }
      }
    }
  }
}

.scroll-active {
  transition: 0.2s linear;
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 33 !important;
  display: block !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  @media(max-width: 991px) {
    display: none !important;
  }
}

// Scroll Navigatio 

// Top Section 
.top-section-wrapper {
  .top-section-inner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 991px) {
      display: none;
    }

    .top-section-left {
      a {
        text-decoration: none;

        img {
          width: 80%;
        }
      }
    }

    .top-section-right {
      .top-address {
        a {
          text-decoration: none;
          color: #ffffff;
          font-size: 16px;
          font-weight: 300;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: #fff212;
          }

          i {
            color: #fff212;
            margin-right: 5px;
          }
        }

        .e-address {
          margin-right: 15px;
        }
      }

      .searchbar {
        margin-top: 10px;

        form {
          .searchbar-inner-wrapper {
            display: flex;
            flex-direction: row;

            input {
              border: none;
              box-shadow: none;
              padding: 10px 12px;
              width: 320px;

              &:focus {
                border: none;
                border-radius: none;
                box-shadow: none;
                outline: none;
              }
            }

            .search-btn {
              .search-submitbtn {
                border: none;
                box-shadow: none;
                padding: 10px 17px;
                background-color: #32160a;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

// Top Section 

// Navigation Section 
.navigation-section-wrapper {
  .navigation-section-inner {
    @media(max-width: 991px) {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #3c2827;

      li {
        list-style: none;
        padding: 10px 23px;
        background-color: #3c2827;
        transition: all 0.3s ease-in-out;
        border-bottom: 3px solid transparent;

        @media(max-width: 1399px) {
          padding: 8px 15px;
        }

        @media(max-width: 1199px) {
          padding: 8px 10px;
        }

        &:hover {
          border-color: #e18501;
        }

        a {
          text-decoration: none;
          text-align: center;
          text-transform: uppercase;
          font-size: 16px;
          color: #ffffff;
          font-weight: 500;

          @media(max-width: 1199px) {
            font-size: 15px;
          }

        }
      }

      .linkactive {
        border-bottom: 3px solid #e18501;
        background-color: #251b1c;
      }
    }
  }
}

// Navigation Section 

// Slider Section 
.slider-section-wrapper {
  @media(max-width: 991px) {
    margin-top: 89px;
  }

  .slider-inner-wrapper {
    position: relative;
    -webkit-box-shadow: 0px 25px 20px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 25px 20px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 25px 20px 5px rgba(0, 0, 0, 0.1);
    // @media(max-width: 1366px){
    //   height: calc(100vh - 200px);
    // }

    .nani-slider {
      .carousel-inner {
        // .carousel-item {
        //   img {
        //     @media(max-width: 1366px){
        //       height: calc(100vh - 200px);
        //     }
        //   }
        // }

        .slider-carousel-caption {
          -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
          background-color: rgba(236, 141, 3, 0.8);
          width: 540px;
          padding: 35px 0;
          position: absolute;
          right: 0;
          top: 45%;
          content: "";

          @media(max-width: 1199px) {
            width: 420px;
            top: 30%;
          }

          @media(max-width: 991px) {
            width: 350px;
            padding: 30px 0;
          }

          @media(max-width: 767px) {
            width: 270px;
            padding: 20px 0;
          }

          @media(max-width: 575px) {
            width: 230px;
            padding: 15px 0;
          }

          @media(max-width: 480px) {
            width: 200px;
            padding: 12px 0;
          }


          h2 {
            font-size: 42px;
            font-weight: bold;
            color: #ffffff;
            text-transform: uppercase;
            max-width: 392px;
            margin: 0 auto;
            text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);

            @media(max-width: 1199px) {
              font-size: 35px;
              max-width: 350px;
            }

            @media(max-width: 991px) {
              font-size: 30px;
              max-width: 290px;
            }

            @media(max-width: 767px) {
              font-size: 24px;
              max-width: 230px;
            }

            @media(max-width: 575px) {
              font-size: 20px;
              max-width: 190px;
            }

            @media(max-width: 480px) {
              font-size: 18px;
              max-width: 170px;
            }
          }
        }
      }

      .carousel-indicators {

        margin-left: 2%;
        justify-content: start;
        margin-bottom: 6px;

        .active {
          background-color: #e18501;
        }
      }

      .carousel-indicators [data-bs-target] {
        opacity: 0.8;
        width: 40px;
        -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);

        @media(max-width: 575px) {
          width: 24px;
        }
      }
    }
  }
}

// Slider section 

// Products Section 
.our-product-wrapper {
  .our-product-inner-wrapper {
    background-color: #ffffff;
    padding-top: 70px;
    padding-bottom: 70px;

    .top-product {
      text-align: center;

      h2 {
        color: #000000;
        font-size: 42px;
        font-weight: bold;

        @media(max-width: 500px) {
          font-size: 36px;
        }
      }

      p {
        font-size: 18px;
        font-weight: 300;
        color: #000000;

        @media(max-width: 767px) {
          padding: 0 15px;
        }

        @media(max-width: 500px) {
          font-size: 16px;

        }
      }
    }

    .middle-product {
      padding: 0 30px;
      margin-top: 70px;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      @media(max-width: 991px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      @media(max-width: 767px) {
        grid-template-columns: 1fr;
        margin-top: 30px;
        padding: 0 15px;
      }

      .product-box {
        width: 24.8%;

        @media(max-width: 991px) {
          width: 99.2%;
        }

        @media(max-width: 767px) {
          width: 100%;
          margin-bottom: 30px;
        }

        .img-wrapper {
          width: 100%;
          height: 250px;
          margin-bottom: 10px;

          @media(max-width: 991px) {
            text-align: center;
          }

          // img {
          //   @media(max-width: 1199px){
          //     width: 100%;
          //   }
          //   @media(max-width: 991px){
          //     width: 75%;
          //   }
          // }
        }

        .bottom-box {
          .product-box-para {
            position: relative;
            width: 100%;
            padding: 40px 0;

            h4 {
              width: 88%;
              position: absolute;
              left: 6%;
              top: -20px;
              content: "";
              background-color: #3b2726;
              color: #ffffff;
              font-size: 20px;
              font-weight: bold;
              text-align: center;
              max-width: 90%;
              padding: 8px 0;
              margin-bottom: 0;

              @media(max-width: 1199px) {
                font-size: 18px;
              }

              @media(max-width: 991px) {
                font-size: 20px;
              }
            }

            p {
              margin-bottom: 0;
              color: #ffffff;
              text-align: center;
              margin-top: 10px;
              padding: 0 20px;

              @media(max-width: 1199px) {
                padding: 0 10px;
                font-size: 15px;
              }

              @media(max-width: 991px) {
                font-size: 16px;
              }
            }
          }
        }
      }

      .product-box1 {
        .img-wrapper {
          padding-top: 45px;

          img {
            @media(max-width: 1199px) {
              max-width: 218px;
            }

            @media(max-width: 991px) {
              max-width: unset;
            }
          }
        }

        .bottom-box {
          // h4{}

          .product-box-para {
            background-color: #94a873;
          }
        }
      }

      .product-box2 {
        // .img-wrapper {}

        .bottom-box {
          // h4{}

          .product-box-para {
            background-color: #a55d4e;
          }
        }
      }

      .product-box3 {
        // .img-wrapper {}

        .bottom-box {
          // h4{}

          .product-box-para {
            background-color: #fcb75c;
          }
        }
      }

      .product-box4 {
        .img-wrapper {

          padding-top: 40px;
        }

        .bottom-box {
          // h4{}

          .product-box-para {
            background-color: #73a9b5;
          }
        }
      }
    }

    .view-products-wrapper {
      text-align: center;
      margin-top: 50px;

      a {
        padding: 10px 15px;
        border: 1px solid #e1373c;
        text-decoration: none;
        color: #e1373c;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #e1373c;
          color: #ffffff;
        }
      }

    }
  }
}

// Products Section 

// Spices Section 
.spices-wrapper {
  .spices-inner-wrapper {
    -webkit-box-shadow: 0px 25px 20px 5px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 25px 20px 5px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 25px 20px 5px rgba(0, 0, 0, 0.9);
    background-image: url('../assets/images/spicesbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @media(max-width: 991px) {
      min-height: 550px;
    }

    .spices-inner-left {
      width: 50%;

      @media(max-width: 1399px) {
        width: 40%;
      }

      @media(max-width: 1199px) {
        width: 35%;
      }

      @media(max-width: 991px) {
        width: 0%;
      }
    }

    .spices-inner-right {
      width: 50%;
      padding-right: 80px;
      padding-top: 90px;

      @media(max-width: 1399px) {
        width: 60%;
        padding-right: 110px;
        padding-top: 130px;
      }

      @media(max-width: 1199px) {
        width: 65%;
        padding-right: 50px;
      }

      @media(max-width: 991px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 80px;
        padding-top: 100px;
      }

      @media(max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 70px;
      }

      @media(max-width: 500px) {
        padding-right: 15px;
        padding-left: 15px;
      }

      h2 {
        color: #ff1f17;
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 0;

        @media(max-width: 500px) {
          font-size: 36px;
        }
      }

      h3 {
        color: #ffffff;
        font-size: 32px;
        font-weight: bold;

        @media(max-width: 500px) {
          font-size: 26px;
        }
      }

      p {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        margin-top: 30px;
        margin-bottom: 50px;

        @media(max-width: 500px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .spices-readmore-btn {
        a {
          background-color: #ffffff;
          padding: 10px 25px;
          text-decoration: none;
          color: #e1373c;
          font-size: 20px;
          font-weight: 500;
          text-transform: capitalize;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #e1373c;
            color: #ffffff;
          }
        }
      }
    }
  }

  .spices-boxshadow {
    -webkit-box-shadow: 0px 25px 20px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 25px 20px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 25px 20px 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
}

// Spices Section 

// Key Services 
.key-services-wrapper {
  .key-inner {
    background-color: #ffffff;
    padding-top: 70px;
    padding-bottom: 70px;

    h2 {
      text-align: center;
      color: #000000;
      font-size: 42px;
      font-weight: bold;

      @media(max-width: 500px) {
        font-size: 36px;
      }
    }

    .key-services-inner-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 50px;

      @media(max-width: 991px) {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 30px;
      }

      @media(max-width: 767px) {
        padding: 0 15px;
      }

      .keyservices-box {
        margin-top: 70px;
        text-align: center;
        padding: 50px 0;

        @media(max-width: 991px) {
          margin-top: 40px;
        }

        img {
          height: 48px;
          margin-bottom: 15px;
        }

        h6 {
          color: #000000;
          font-size: 20px;
          font-weight: bold;
        }

        .key-border {
          height: 1px;
          background-color: #bf2a2e;
          width: 40px;
          margin: 15px auto;
        }

        p {
          color: #000000;
          font-size: 16px;
          font-weight: 300;
          padding: 0 60px;
          margin-bottom: 0;

          @media(max-width: 1399px) {
            padding: 0 20px;
          }

          @media(max-width: 1199px) {
            padding: 0 10px;
          }
        }
      }

      .key-box1 {
        background-color: #94a873;
        box-shadow: -10px 0px 16px 0px rgba(0, 0, 0, 0.2) inset;
        -webkit-box-shadow: -10px 0px 16px 0px rgba(0, 0, 0, 0.2) inset;
        -moz-box-shadow: -10px 0px 16px 0px rgba(0, 0, 0, 0.2) inset;
      }

      .key-box2 {
        background-color: #fcb75c;
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
      }

      .key-box3 {
        background-color: #73a9b5;
        box-shadow: 10px 0px 16px 0px rgba(0, 0, 0, 0.2) inset;
        -webkit-box-shadow: 10px 0px 16px 0px rgba(0, 0, 0, 0.2) inset;
        -moz-box-shadow: 10px 0px 16px 0px rgba(0, 0, 0, 0.2) inset;
      }
    }
  }
}

// Key Services 

// Map Section 
.map-wrapper {
  .map-inner-bg {
    background-color: #ffffff;
    padding: 70px 0;
    box-shadow: 0px -25px 20px 0px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0px -25px 20px 0px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0px -25px 20px 0px rgba(0, 0, 0, 0.1) inset;

    .map-inner-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 0 30px;
      justify-content: space-between;
      margin-bottom: 70px;

      @media(max-width: 991px) {
        display: grid;
        grid-template-columns: 1fr;
      }

      @media(max-width: 767px) {
        padding: 0 15px;
      }

      .map-inner-left {
        width: 45%;

        @media(max-width: 991px) {
          width: 100%;
          margin-bottom: 30px;
        }

        img {
          width: 100%;
        }
      }

      .map-inner-right {
        width: 50%;
        padding-right: 28px;

        @media(max-width: 1199px) {
          padding-right: 0;
        }

        @media(max-width: 991px) {
          width: 100%;
        }


        h1 {
          color: #000000;
          font-size: 42px;
          font-weight: bold;
          margin-bottom: 60px;

          @media(max-width: 1399px) {
            font-size: 38px;
          }

          @media(max-width: 1199px) {
            font-size: 36px;
          }

          @media(max-width: 991px) {
            margin-bottom: 20px;
          }

          span {
            color: #e13136;
          }
        }

        p {
          color: #000000;
          font-size: 18px;
          font-weight: 300;
          line-height: 28px;
          text-align: justify;

          @media(max-width: 500px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }

    .map-bottom-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 150px;

      @media(max-width: 991px) {
        padding: 0 30px;
      }

      @media(max-width: 767px) {
        padding: 0 15px;
      }

      @media(max-width: 575px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .mapbottom-box {
        text-align: center;

        @media(max-width: 575px) {
          margin-bottom: 20px;
        }

        h5 {
          margin-top: 10px;

          @media(max-width: 767px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}

// Map Section 

// Sustainibility Section wrapper 
.sustainibility-wrapper {
  .sustainibility-inner-wrapper {
    background-image: url('../assets/images/sustainibilitybg.jpg');
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 50px 0 50px;
    width: 100%;
    justify-content: space-between;

    @media(max-width: 1199px) {
      padding: 30px;
    }

    @media(max-width: 991px) {
      flex-direction: column-reverse;
    }

    @media(max-width: 767px) {
      padding: 30px 15px;
    }

    .sustainibility-inner-left {
      width: 50%;
      padding-right: 30px;

      @media(max-width: 1199px) {
        width: 55%;
      }

      @media(max-width: 991px) {
        width: 100%;
        padding-right: 0;
      }

      .top-sustainibility {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .top-sustainibility-left {
          h2 {
            text-align: center;
            color: #000000;
            font-size: 42px;
            font-weight: bold;

            @media(max-width: 500px) {
              font-size: 36px;
            }
          }
        }

        .top-sustainibility-right {
          img {
            max-width: 120px;

            @media(max-width: 1199px) {
              max-width: 100px;
            }

            @media(max-width: 425px) {
              max-width: 80px;
            }
          }
        }
      }

      p {
        color: #000000;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        text-align: justify;
        margin-bottom: 30px;

        @media(max-width: 500px) {
          font-size: 16px;
        }
      }

      .spices-readmore-btn {
        a {
          text-decoration: none;
          color: #e1373c;
          font-size: 20px;
          font-weight: 500;
          text-transform: capitalize;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: #000000;
          }
        }
      }
    }

    .sustainibility-inner-right {
      @media(max-width: 1199px) {
        width: 45%;
      }

      @media(max-width: 991px) {
        width: 100%;
      }

      img {
        @media(max-width: 1199px) {
          width: 100%;
        }
      }
    }
  }
}

// Sustainibility Section wrapper 


// Schedule Section Wrapper 
.schedule-wrapper {
  .schedule-inner-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    justify-content: center;
    padding: 70px 50px;
    box-shadow: 0px -25px 20px 0px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0px -25px 20px 0px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0px -25px 20px 0px rgba(0, 0, 0, 0.1) inset;

    @media(max-width: 1199px) {
      padding: 70px 30px;
    }

    @media(max-width: 991px) {
      flex-direction: column-reverse;
      padding: 70px 30px 100px 30px;
    }

    @media(max-width: 767px) {
      flex-direction: column-reverse;
      padding: 70px 15px 100px 15px;
    }

    .schedule-inner-left {
      width: 50%;
      padding-left: 50px;

      @media(max-width: 1199px) {
        padding-left: 0;
      }

      @media(max-width: 991px) {
        width: 100%;
      }

      p {
        color: #000000;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        text-align: justify;
        margin-bottom: 0;

        @media(max-width: 500px) {
          font-size: 16px;
        }
      }
    }

    .schedule-inner-right {
      width: 50%;
      padding-left: 10%;

      @media(max-width: 991px) {
        width: 100%;
        padding-left: 0;
        margin-bottom: 30px;
      }

      .schedule-mobile {
        max-width: 424px;
        position: relative;

        @media(max-width: 991px) {
          margin: 0 auto;
        }

        img {
          width: 100%;
        }

        h3 {
          margin-bottom: 0;
          position: absolute;
          left: 130px;
          top: 162px;
          content: "";
          color: #bf2a2e;
          font-size: 25px;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 36px;

          @media(max-width: 1199px) {
            left: 105px;
            top: 145px;
            font-size: 20px;
            line-height: 28px;
          }
          @media(max-width: 991px){
            left: 135px;
            top: 180px;
          }
          @media(max-width: 480px){
            left: 30%;
            top: 37%;
          }
          @media(max-width: 420px){
           font-size: 16px;
           line-height: 24px;
          }
        }

        a {
          border: 1px solid transparent;
          text-decoration: none;
          color: #fff212;
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;
          background-color: #bf2a2e;
          padding: 6px 20px;
          border-radius: 40px;
          position: absolute;
          left: 130px;
          top: 325px;
          content: "";
          transition: all 0.3s ease-in-out;

          @media(max-width: 1199px) {
            padding: 4px 10px;
            left: 105px;
            top: 265px;
          }
          @media(max-width: 991px){
            left: 135px;
            top: 315px;
          }
          @media(max-width: 480px){
            left: 30%;
            top: 65%;
          }
          @media(max-width: 420px){
            font-size: 11px;
            padding: 4px 8px;
          }

          &:hover {
            background-color: #ffffff;
            color: #000000;
            border-color: #000000;
          }
        }
      }
    }
  }
}

// Schedule Section Wrapper 


// Footer 
.footer-section-wrapper {
  padding-bottom: 30px;
  background-color: #3b2726;
  color: #ffffff;

  .footer-top-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    @media(max-width: 767px) {
      flex-direction: column;
    }

    .footer-top-left {
      width: 20%;

      @media(max-width: 1199px) {
        width: 25%;
      }

      @media(max-width: 991px) {
        width: 37%;
      }

      @media(max-width: 767px) {
        width: 100%;
      }

      .footer-logo {
        a {
          text-decoration: none;

          img {
            margin-top: -50px;

            @media(max-width: 991px) {
              max-width: 150px;
            }
          }
        }
      }

      .get-in-touch {
        margin-top: 70px;

        h3 {
          font-size: 28px;
          font-weight: 500;
          margin-bottom: 30px;
        }

        .address-box {
          display: flex;
          flex-direction: row;
          margin-bottom: 15px;

          @media(max-width: 767px) {
            margin-bottom: 0;
          }

          .icon {
            margin-right: 20px;

            // i{}
          }

          .address-right {
            p {
              font-size: 15px;
              font-weight: 300;

              @media(max-width: 991px) {
                font-size: 14px;
              }
            }
          }
        }

        .social-link {
          margin-top: 30px;

          @media(max-width: 767px) {
            margin-top: 0;
          }

          a {
            font-size: 18px;
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            margin-right: 17px;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: #fff212;
            }
          }
        }
      }
    }

    .footer-top-right {
      padding-top: 60px;
      width: 72%;

      @media(max-width: 991px) {
        width: 55%;
        padding-top: 105px;
      }

      @media(max-width: 767px) {
        width: 100%;
        padding-top: 50px;
      }

      .link-wrapper {
        h3 {
          font-size: 28px;
          font-weight: 500;
          margin-bottom: 30px;
        }

        .link-inner-wrapper {
          .link-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 30px;

            @media(max-width: 991px) {
              display: grid;
              grid-template-columns: 1fr 1fr;
            }

            .linkbox {
              width: 25%;

              @media(max-width: 991px) {
                width: 100%;
              }

              @media(max-width: 410px) {
                width: 90%;
              }

              ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                  list-style: none;
                  margin-bottom: 5px;

                  a {
                    font-size: 15px;
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: 300;
                    transition: all 0.3s ease-in-out;

                    @media(max-width: 991px) {
                      font-size: 14px;
                    }

                    &:hover {
                      color: #fff212;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.footer-bottom {
  background-color: #261c1d;
  padding: 30px 0;

  p {
    margin-bottom: 0;
    font-size: 14px;
    color: #a5a5a5;
    text-align: center;
  }
}

// Footer 