.mixed-whole-baner-inner-wrapper{
    background-image: url('../assets/images/mixedwholebanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 927px;
    position: relative;

    @media(max-width: 1199px) {
        min-height: 720px;
    }

    @media(max-width: 991px) {
        min-height: 550px;
    }

    @media(max-width: 767px) {
        min-height: 490px;
    }

    .bottom-wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";

        h1 {
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 4px;
            padding-left: 50px;
            font-family: burford;
            word-break: break-word;
            
            font-size: 72px;
            margin-bottom: -26px;
            @media(max-width: 1399px){
                font-size: 50px;
                margin-bottom: -19px;
            }

            @media(max-width: 1199px) {
                padding-left: 40px;
                font-size: 42px;
                margin-bottom: -15px;
            }

            @media(max-width: 991px) {
                padding-left: 15px;
            }
        }

        .bottom-inner-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media(max-width: 767px) {
                flex-direction: column;
            }

            .bottom-left {
                width: 65%;
                background-color: rgba(109, 97, 68, 0.8);

                @media(max-width: 767px) {
                    width: 100%;
                }

                p {
                    font-size: 16px;
                    color: #fffffe;
                    line-height: 28px;
                    font-weight: 300;
                    margin-bottom: 0;
                    padding: 40px 55px 60px 50px;

                    @media(max-width: 1199px) {
                        padding: 20px 20px 30px 40px;
                    }

                    @media(max-width: 991px) {
                        font-size: 14px;
                        line-height: 22px;
                        padding: 15px 15px 20px 15px;
                    }
                }
            }

            .bottom-right {
                position: relative;
                width: 35%;
                background-color: rgba(182, 131, 84, 0.8);

                @media(max-width: 767px) {
                    width: 100%;
                    padding: 70px 0;
                }

                a {
                  
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    content: "";
                    transform: translate(-50%, -50%);
                   
                    transition: 0.2s ease-in-out;
                   

                

                    &:hover {
                        margin-top: -2px;
                        color: #fffffe;
                    }
                }
            }
        }
    }
}


.mixed-process-title{
    max-width: 432px;
    @media(max-width: 495px){
        max-width: 223px;
    }
}

.mixed-range-title{
    max-width: 540px;
    @media(max-width: 767px){
        max-width: 295px;
    }
}