.product-list-wrapper {
    .core {
        background-color: #fff;
        padding: 70px 30px 35px 30px;

        @media(max-width: 1199px) {
            padding: 120px 15px 35px 15px;
        }

        .core-value-inner {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
            margin-bottom: 30px;

            @media(max-width: 991px) {
                grid-template-columns: 1fr;
                margin-bottom: 0;
            }

            .core-box {
                background-color: #EEEEEE;
                padding: 0 0px 30px 0px;
                min-height: 305px;

                @media(max-width: 991px) {
                    margin-bottom: 30px;
                }
                .icon-box {
                    // margin: -75px auto 25px auto;
                    margin-bottom: 15px;

                    img {
                        width: 100%;
                    }
                }

                .product-bottom {
                    padding: 0 25px;
                    @media(max-width: 1399px){
                        padding: 0 15px;
                    }
                    @media(max-width: 1199px){
                        padding: 0 8px;
                    }

                    h2 {
                        font-size: 32px;
                        color: #000000;
                        font-family: burford;
                        font-weight: bold;
                        @media(max-width: 1199px){
                            font-size: 28px;
                            font-weight: bolder;
                        }
                        @media(max-width: 991px){
                            font-size: 34px;
                        }
                        @media(max-width: 575px){
                            font-size: 30px;
                        }
                    }

                    p {
                        text-align: justify;
                        line-height: 26px;
                        margin-bottom: 20px;
                        color: #000000;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }

                    .linkwrapper {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        a {
                            img {
                                transition: all 0.1s ease-in-out;
                                @media(max-width: 1399px){
                                    width: 100%;
                                }
                            }

                            &:hover {
                                img {
                                    transform: translateY(-3px);
                                }
                            }
                        }
                    }
                }
            }


        }
    }
}



.product-list-title {
    font-size: 48px;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    max-width: 202px;
    // padding-bottom: 12px;
    margin-bottom: 50px;
    font-family: burford;
    font-weight: bold;

    @media(max-width: 575px) {
        font-size: 36px;
        max-width: 195px;
    }

    &::before {
        position: absolute;
        width: 88%;
        height: 4px;
        background-color: #c32629;
        content: "";
        left: 0;
        bottom: 0;
    }

    &::after {
        position: absolute;
        width: 10%;
        height: 4px;
        background-color: #ffd409;
        content: "";
        right: 0;
        bottom: 0;
    }
}