.tamarind-range-title {
    padding-top: 50px;
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    max-width: 319px;
    padding-bottom: 12px;

    &::before {
        position: absolute;
        width: 88%;
        height: 4px;
        background-color: #c32629;
        content: "";
        left: 0;
        bottom: 0;
    }

    &::after {
        position: absolute;
        width: 10%;
        height: 4px;
        background-color: #ffd409;
        content: "";
        right: 0;
        bottom: 0;
    }
}
.tamarind-languate-title {
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    max-width: 377px;
    padding-bottom: 12px;
    margin-bottom: 40px;
    @media(max-width: 492px){
        max-width: 220px;
    }

    &::before {
        position: absolute;
        width: 88%;
        height: 4px;
        background-color: #c32629;
        content: "";
        left: 0;
        bottom: 0;
    }

    &::after {
        position: absolute;
        width: 10%;
        height: 4px;
        background-color: #ffd409;
        content: "";
        right: 0;
        bottom: 0;
    }
}